html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

/* Globales */

a {
  text-decoration: none;
  color: #000000;
}

.container {
  width: min(90%, 117.6rem);
  margin: 0 auto;
}

h1,
h2 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: auto;
}

h1 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1;
}

h2 {
  font-size: 3.2rem;
}

/* Utilidades */

.text-center {
  text-align: center !important;
}

/* Fondo Principal */

.fondo-principal {
  height: 100%;
  background-image: url(../images/puntitos-cel.png);
}

@media (min-width: 768px) {
  .fondo-principal {
    background-image: url(../images/puntitos.png);
    background-size: contain;
    background-repeat: repeat;
  }
}

/* Header */

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
}

.header-flex .logo {
  width: 4rem;
}

.menu-large {
  display: none;
}

.menu-large a {
  font-weight: 700;
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  .menu-large {
    display: flex;
    gap: 5.8rem;
  }
  .burger {
    display: none;
  }
  .header-flex {
    padding-block: 4.5rem;
  }
  .header-flex .logo {
    width: 6rem;
  }
}

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.hero h1 {
  width: 30rem;
  text-align: center;
  margin-bottom: 5.2rem;
}

.hero img {
  width: 34.4rem;
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
  }
  .hero h1 {
    text-align: left;
    margin-top: -16rem;
  }
  .hero img {
    width: 50.3rem;
  }
}

/* Soy Misa */

.soy-misa {
  background-color: #000;
  color: #fff;
  padding-block: 6rem;
}

.soy-misa-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90rem;
}

.soy-misa h2 {
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
}

.soy-misa p {
  margin-bottom: 6rem;
}

.soy-misa img {
  width: 8rem;
}

@media (min-width: 768px) {
  .soy-misa-flex {
    flex-direction: row-reverse;
    gap: 6rem;
  }
  .soy-misa h2 {
    text-align: left;
  }
  .soy-misa p {
    margin-bottom: 0;
  }
  .soy-misa img {
    width: 21.1rem;
  }
}
